<div class="container-fluid">
  <div class="row ">
    <div class="col-md-12 sticky-top" id="header">
      <app-header></app-header>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row" id="main-window">
    <div class="col-md-2" id="left-side"> 
      <app-side></app-side>
    </div>
    <div class="col-md-10" id="main">
        <router-outlet> </router-outlet>
    </div>
  </div>

</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 fixed-bottom" id="footer">
      <app-footer></app-footer>
    </div>
  </div>
</div>