* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    background: rgb(255, 195,11);
    height: 12vh;

    // padding: 0 5em;
}



#main-window {
    

}

#main { 
    background: #484649;
    height: 78vh;
   overflow: hidden;
}




#left-side {
    background: peru;
    height: 78vh;
}

#footer {
    background: rgb(255, 195,11);
    height: 10vh;
}